/* Source for building video player: https://dev.to/documatic/building-a-video-player-in-react-1mlf */

.layout {
    display: flex;
    gap: 2rem;
    align-items:flex-start;
}

.videoSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.videoWrapper {
    position: relative;
}

.videoPlayer {
    max-width: 100%;
    display: block;
    border: 1px solid white;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}

.temporalCrop {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.timeLabels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.slider {
    width: 100%;
    cursor: pointer;
}

.cropInfo {
    font-size: 12px;
    color: #9ca3af;
}

.input_group {
    min-width: 25%;
}